$primary-color: #0e6cff;
$secondary-color: #ff8700;
$dark-color: #333;
$light-color: #f4f4f4;


@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return $dark-color;
    } @else {
        @return $light-color;
    }
}

@mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
}